%% == Pre/Post Command Hooks ==
{pre_hooks, [{"linux|darwin", compile, "./prepare_package_files.sh"},
		{"linux", compile, "./c_src/build_linux.sh"},
		{"darwin", compile, "./c_src/build_mac.sh"}]}.
{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.

{port_env, [
	%% Make sure to link -lstdc++ on linux or solaris
	{"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"},

	%% Solaris specific flags
	{"solaris.*-64$", "CXXFLAGS", "-D_REENTRANT -m64"},
	{"solaris.*-64$", "LDFLAGS", "$LDFLAGS -m64"},

	%% OS X Leopard flags for 64-bit
	{"darwin9.*-64$", "CXXFLAGS", "-m64"},
	{"darwin9.*-64$", "LDFLAGS", "-arch x86_64 -lstdc++"},

	%% OS X Snow Leopard flags for 32-bit
	{"darwin10.*-32$", "CXXFLAGS", "-m32"},
	{"darwin10.*-32$", "LDFLAGS", "-arch i386"},

	{"DRV_CFLAGS", "$DRV_CFLAGS -Wall -O2 -I./c_src/CsMap/Include -I./c_src/geos-3.4.2 -I./c_src/geos-3.4.2/capi -I./c_src/libspatialindex/include"},
	{"DRV_LDFLAGS", "$DRV_LDFLAGS ./c_src/libspatialindex/.libs/libspatialindex_c.a ./c_src/geos-3.4.2/capi/.libs/libgeos_c.a ./c_src/CsMap/Source/CsMap.a"}
]}.

{port_specs, [{"priv/erl_spatial.so", ["c_src/*.cc"]}]}.

{eunit_opts, [verbose]}.

{clean_files, ["doc"]}.

{deps, [
	{wkb_writer, "", {git, "git@github.com:cloudant/wkb_writer",
						{branch, "master"}}}
]}.